<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="index.css">
    <title>StyleEye</title>
</head>
<body>
    <%- include('commonpage/heder'); %>
    <div class="ptb">
        <div class="pic">
            <picture>
                <source type="webp" srcset="image\desk-play.webp">
            </picture>
            <div class="tbou">
                <h1 class="ptext">BEST QUALITY</h1>
                <div class="tex">
                    <a href="#">SHOP EYE PRODUCT</a>
                    </div>
            </div>
        </div>
    </div>
    
</body>
</html>