<div class="hedline"></div>
    <div class="non">
        <div class="logo"><h1 class="logo1">StyleEye</h1></div>
        <div class="search"><input class="search1" type="search"></div>
        <div class="signinsignup"><div class="sign"><a href="/signin" class="sign1">Sign In</a>
            <a class="sign1" href="/signup">Sign Up</a><a class="sign1" href="/eyeglasses">Cart</a></div></div>
    </div>
    <div class="menubar">
        <div class="menu1 menu"><a href="/computerglasses">Computer Glasses</a></div>
        <div class="menu2 menu"><a href="/sunglasses">Sun Glasses</a></div>
        <div class="menu3 menu"><a href="/contactglasses">Contact Glasses</a></div>
        <div class="menu4 menu"><a href="/eyeglasses">Eye Glasses</a></div>
        <div class="menu5 menu"><a href="/kidsglasses">Kids Glasses</a></div>
    </div>
    </header>